html
{
	font-size: 16px;
  font-family: "Raleway";
}

/* HEADER */

.headerImg
{
  padding: 2rem;
}

nav ul
{
    list-style-type: none;
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center;
}

nav li
{
  display: inline;
}


nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header 
{
  /*display: grid;*/
  align-items: center;
  max-width: 1440px;
  /*margin: auto;*/
}

nav a
{
  text-decoration: none;
	display: block;
	font-size: 1.2em;
	
}

.headernav 
{
  display: flex;
  align-items: center;
}

.headernavlink 
{
  padding: 2rem;
  font-weight: 900;
  text-align: center;
}

.headernavlink2 
{
  padding: 2rem;
  font-weight: 900;
  text-align: center;
}
.headerNavLink
{
  color: #0065FC;
}

.headernavlink2:hover 
{
  color: #0065FC;
}
.headersignup 
{
  display: flex;
  align-items: center;
  grid-area: button;
  padding: 2rem;
  color: #0065FC;
  font-weight: 600;
}

.headernavlink
{
  border-top: 3px solid blue;
}
  .headernavlink2:hover 
{
 border-top: 3px solid blue;
}

/* Main */

h1
{
  padding: 0 2rem;
  font-size: 18px;
  font-weight: 900; 
}

#textdebase
{
  padding: 0 2rem;
}

.search
{
  padding: 0 2rem;
  width: 650px;
  border-radius: 10px;
}

.pin-icone
{ 
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #F2F2F2;
  border-radius: 1rem 0 0 1rem;  
}

.recherche_input
{
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1rem;
  box-sizing: border-box;
  width: 230px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
}

.btn-recherche_input
{
  background-color: rgb(6 72 251);
  color: white;
  height: 50px;
  width: 120px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway";
  border-radius: 0 1rem 1rem 0;
  border: none;
}

.main 
{
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.searche
{
  display: flex;
  width: 405px;
  border: 0.5px solid #F2F2F2;
  border-radius: 1rem;
}

/* Filter */

.filter
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem; 

}

.filter-item
{
  display: inline-flex;
  margin: 25px;
  border: 2px solid lightgrey;
  border-radius: 20px;
 margin-right: 10px;
  height: 40px;

}

.filter-icone
{ 
  margin-left: -2px;
  margin-top: -1px;
  color: rgb(0,101, 255);
  background-color: rgb(222, 235, 255);
  border-radius: 20px;
  width: 42px;
  height: 42px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.filter-icone:hover
{
  background-color: rgb(0,101,255);
  color:rgb(255, 255, 255);
}

.filter-input
{
  border: 2px solid lightgrey;
  height: 38px;
  border-radius: 20px;
  margin-right: 5px;
  margin-left: 10px;
  width: 90px;
  border: none;
  font-weight: bold;
  font-weight: 700;
}

.filter-input2
{
  border: 2px solid lightgrey;
  height: 38px;
  border-radius: 20px;
  margin-right: 5px;
  margin-left: 10px;
  width: 60px;
  border: none;
  font-weight: bold;
  font-weight: 700;
}

.filter-input3
{
  border: 2px solid lightgrey;
  height: 38px;
  border-radius: 20px;
  margin-right: 5px;
  margin-left: 10px;
  width: 90px;
  border: none;
  font-weight: bold;
  font-weight: 700;
}

.filter-input4
{
  border: 2px solid lightgrey;
  height: 38px;
  border-radius: 20px;
  margin-right: 5px;
  margin-left: 10px;
  width: 130px;
  border: none;
  font-weight: bold;
  font-weight: 700;
}

.fa
{
  font-size: 12px;
}

/* Info */

.infocontainer
{
  padding: 0 2rem 2rem;
  display: flex;
  align-items: center;
}

.iconeinfo
{
  color: blue;
  width: 20px;
  height: 20px;
  border: 2px solid lightgrey;
  border-radius: 25px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hebergement */


section
{
  display: flex;
}

.bloctext
{
  padding: 10px;
}

article h2
{
  padding: 0 2rem;
  font-weight: bolder;
}

.affiche
{
  padding: 0 2rem;
}

.articleaside
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

article
{
  background-color: rgb(242, 242, 242);
  flex: 2;
  box-shadow: 0px 0px 0px #1c1a19;
  border-radius: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

aside
{
  background-color: rgb(242, 242, 242);
  flex: 1;
  position: relative;
  box-shadow: 0px 0px 0px #1c1a19;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9em;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.hergement_body_note
{
  color: blue;
}

.hergement_body_note .grey-star
{
  color: lightgrey;
}


.hergement_body_note li
{
display: inline;
}

.note-aside .blue-star
{
	color: blue;
}

.note-aside .grey-star
{
	color: lightgrey;
}

.note-aside li
{
	display: inline;
}

.hebergement_body
{
  background-color: white;
  border-radius: 15px;
  height: 250px;
  margin: 10px;
}

.marcus-loke
{
	width: 95%;
  background-size: 100% 100%;
  object-fit: cover;
	height: 100px;
  border-radius: 15px 15px 0 0;
  padding: 5px;
}

.fred-kleber
{
  width: 95%;
  background-size: 100% 100%;
  object-fit: cover;
	height: 100px;
  border-radius: 15px 15px 0 0;
  padding: 10px;
}

.reisetopia
{
  width: 95%;
  background-size: 100% 100%;
  object-fit: cover;
	height: 100px;
  border-radius: 15px 15px 0 0;
  padding: 10px;
}

.annie-spratt
{
  width: 95%;
  background-size: 100% 100%;
  object-fit: cover;
	height: 100px;
  border-radius: 15px 15px 0 0;
  padding: 10px;
}

.nicate-lee
{
  width: 95%;
  background-size: 100% 100%;
  object-fit: cover;
 height: 100px;
 border-radius: 15px 15px 0 0;
 padding: 10px;
}

.febrian-zakaria
{
	width: 95%;
  background-size: 100% 100%;
  object-fit: cover;
  height: 100px;
  border-radius: 15px 15px 0 0; 
  padding: 10px;
}

article p
{
  padding-left: 0px;
}

article ul
{
  padding-left: 0px;
}

#conteneur
{
  flex: 2;
  display: flex; 
	background-color: rgb(239, 239, 239);
	flex-wrap: wrap;
	justify-content: space-between;
 /* height: 650px;*/
  margin-right: 20px;
  border-radius: 10px;  
  margin-left: 2rem;
}

.aside_title
{
  padding: 0 2rem;
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  justify-content: space-between;
}

aside h3
{
  padding: 1rem 0 0 0;
}

aside ul
{
  padding: 2.5rem 0 0 0;
}

.cards-aside-content
{
  height: 170px;
  background-color: white;
  margin-bottom: 75px;
  border-radius: 15px;
}

.cards-aside-body
{
  height: 170px;
  background-color: white;
  margin-bottom: 75px;
  border-radius: 15px;
}

.emile-guillemot
{
  padding: 10px;
  float: left;
	width: 50%;
  height: 150px;
  border-radius: 15px 0 0 15px;
}

.aw-creative
{
  padding: 10px;
  float: left;
	width: 50%;
  height: 150px;
  border-radius: 15px 0 0 15px;
}

.febrian-zakaria2
{
  padding: 10px;
  float: left;
	width: 50%;
  height: 150px;  
  border-radius: 15px 0 0 15px;
}

/* Activity */

.activity 
{
  padding: 0 2rem;
  display: grid;
  column-gap: 2rem;
 /* margin: 4rem 0;*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 14rem 2rem 0 14rem;
}

.reno-laithienne /*Vieux Port 1 12*/
{
  width: 300px;
  height: 405px;
  border-radius: 15px 15px 0 0;
}

.act6
{
  grid-row: 2/7;
  grid-column: 1/2;
}

.paul-hermann /*Fort de Pomègues 2 1*/
{
  width: 300px;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.act1
{
  grid-column: 2/3;
  grid-row: 2/5;
  border-radius: 15px 15px 0 0;
}

.kevin-hikari /*Îles du Frioul 2 2*/
{
  width: 300px;
  height: 150px;
  border-radius: 15px 15px 0 0;
}

.act5
{
  grid-column: 2/3;
  grid-row: 4/7;
}
.florian-wehde /*Parc National des Calanques 3 12*/
{
  width: 300px;
  height: 405px;
  border-radius: 15px 15px 0 0;
}

.act2
{
  grid-column: 3/4;
  grid-row: 2/7;
}
.florian-wehde2 /*Notre Dame de la Garde 4 1 */
{
  width: 300px;
  height: 150px;
  border-radius: 15px 15px 0 0;
}

.act3
{
grid-column: 4/5;
grid-row: 2/3;
}

.lena-paulin /*Parc Longchamp 4 2 */
{
  width: 300px;
  height: 180px;
  border-radius: 15px 15px 0 0;
}

.act4
{
  grid-column: 4/5;
  grid-row: 3/7;
}

.activite
{
  padding: 2rem 2rem;
}

.activite h3
{
  justify-content: center;
  height: 20px;
  margin-top: -25px;
  padding: 15px;
  border: 2px solid #f2f2f2;
  background-color: white;
  position:relative;
  width: 266px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 2px 5px #1c1a19;
}

/* Footer */

footer
{
  padding: 0 2rem;
  display: flex; 
	background-color: lightgrey;
	flex-wrap: wrap;
  justify-content: space-around;
}

.element
{
  width: 300px;
}